## Basic Java packages and import
snippet im
import ${0}
endsnippet
## Class
snippet cl
class ${1:`vim_snippets#Filename("$1", "untitled")`} ${0}
endsnippet
# interface
snippet in
interface ${1:`vim_snippets#Filename("$1", "untitled")`} ${2:extends Parent}
endsnippet
# test case
snippet tc
public class ${1:`vim_snippets#Filename("$1")`} extends ${0:TestCase}
endsnippet
## Class Enhancements
snippet ext
extends ${0}
endsnippet
snippet imp
implements ${0}
endsnippet
