# function
snippet fun
function ${1:methodName}(${2:arg1}, ${3:arg2}) {
  console.log('method');
}
$0
endsnippet
# jQuery document.ready()
snippet ready
$( document ).ready(function() {
  $0
});
endsnippet
